body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	background: #e1e1e1;
}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.pointer {
	cursor: pointer;
}

.banner {
	background: #0d1a33;
	padding: 20px;
	color: white;
	font-family: 'Lato', sans-serif;
}

.brand {
	justify-content: space-between;
}

.brand h1 {
	margin: 0;
	font-family: Montserrat, Lato, sans-serif;
	font-weight: 200;
}

.brand h1 strong {
	font-weight: 600;
}

#backToTop {
	position: fixed;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	bottom: 30px;
	right: 30px;
	height: 50px;
	width: 50px;
	border-radius: 25px;
	background-color: #0d1a33;
	opacity: 0.7;
	color: white;
	cursor: pointer;
}

.to-top-text, .fa-arrow-up {
	text-align: center;
	width: 50px;
	line-height: 21px;
}

.to-top-text {
	margin-top: 5px;
}

.footer-social > a > i.fab {
	color: white;
	margin: 10px;
	font-size: 1.3rem;
}

.header-social > a {
	text-decoration: none;
	color: white;
}

.header-social > a > i.fab {
	color: white;
	margin: 10px;
	font-size: 1.3rem;
}

/*TAB ROW STYLING---------------------------------------------------------*/

.tab-row {
	display: flex;
	padding: 0px 10px;
	background-color: bisque;
	gap: 2px;
}

.tab {
	justify-content: flex-start;
	width: 100px;
	padding: 10px;
	text-align: center;
	border: none;
}

#addCard {
	justify-content: flex-end;
}

.tab-light {
	background-color: rgb(199, 192, 240);
}

.tab-dark {
	background-color: rgb(137, 132, 163);
}



/*CARD STYLING---------------------------------------------------------*/

.card-container {
	display: flex;
	gap: 10px;
	justify-content: space-between
}

.card {
	background-color: rgb(86, 91, 160);
	border: 5px solid rgb(43, 43, 95);
	flex: 1;
	margin: 10px;
	text-align: center;
	display: none;
}

.card ul {
	text-align: left;
}

.stat-heading {
	font-weight: 700;
}

/*TABLE STYLING---------------------------------------------------------*/

.calc-table {
	font-size:12px;
	color:#333333;
	border-width: 1px;
	border-color: #729ea5;
	border-collapse: collapse;
	margin:10px auto;
	text-align:center;
}
        
.calc-table th, .total-row td {
	font-size:12px;
	background-color:#acc8cc;
	border-width: 1px 1px 3px 1px;
	padding: 0px 8px;
	border-style: solid;
	border-color: #729ea5;	
	font-weight: 700;
}
        
.calc-table tr {
	background-color:#d4e3e5;
}
        
.calc-table td {
	font-size:12px;
	border-width: 1px;
	padding: 0px 8px;
	border-style: solid;
	border-color: #729ea5;
	width: 200px;
	height: 20px;
}


/*SCROLLBARS-------------------*/

.display-watches::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.display-watches::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.display-watches::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #808080;
	/*3C4651*/
}

.filter::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.filter::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.filter::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #808080;
	/*0d1a33*/
}